@model DealDouble.Web.ViewModels.UserCommentsViewModel
@if (Model != null && Model.Comment != null)
{
    foreach (var comment in Model.Comment)
    {
        var defaultStar = 5 - comment.Rating;

        var commentdAuction = Model.CommentedActions != null ? Model.CommentedActions.FirstOrDefault(x => comment.RecordID == x.AuctionID):null;
        <div class="row">
            <div class="col-md-2">
                <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img rounded-circle img-fluid" />
            </div>
            <div class="col-md-10">
                <p>
                    <a class="float-left" href="#">
                        <strong>@Model.User.FullName</strong>
                    </a>
                    <span class="float-right mb-2">
                        @comment.TimeStamp
                    </span>
                </p>
                <div class="clearfix"></div>
                <p>
                    @comment.Text
                </p>
                <span class="text-warning">
                    @for (var i = 0; i < comment.Rating; i++)
                    {
                        <i class="fa fa-star"></i>
                    }
                    @for (var i = 0; i < defaultStar; i++)
                    {
                        <i class="fa fa-star-o"></i>
                    }
                </span>
                @if (commentdAuction != null)
                {
                    <span class="float-right">
                        <a href="@Url.Action("Details","Auction",new {id = comment.RecordID})" target="_blank">@commentdAuction.Title</a>
                    </span>
                }
                
              
            </div>
        </div>
        <hr />


    }
}
else
{
    <div class="alert alert-danger">
        Data not found
    </div>
}

