@model DealDouble.Web.ViewModels.CommentsListViewModels
@{
    ViewBag.Title = Model.PageTitle;
    if (!Request.IsAjaxRequest())
    {
        Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    }

}
<div class="row">

    <div id="listingArea" class="col-lg-12">
        <div class="col-md-12">
            <h4 class="font-weight-bold float-left">@ViewBag.Title</h4>
            <br />
            <hr />

        </div>
        <div class="row">
            <div class="input-group col-md-8">
                <select name="pageSize" class="form-control" id="pageSize">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <input class="form-control py-2" type="search" id="searchText" placeholder="Please search by Name" value="@Model.SearchTearm">
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary" id="btnSearch" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                    <button class="btn btn-outline-secondary" id="resetBtn" type="button">
                        <i class="fa fa-refresh"></i>
                    </button>
                </span>

            </div>
        </div>


        <table class="table  table-striped table-hover mt-3">
            <thead class="bg-success">
                <tr>
                    <th>UserName</th>
                    <th>Auction Title</th>
                    <th>Comments</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @if (Model.Comments != null && Model.Comments.Count > 0)
                {
                    foreach (var data in Model.Comments)
                    {
                        //var userName = Model.Users.Find(data.UserId);
                        var Auction = Model.Auctions.FirstOrDefault(x =>x.AuctionID == data.RecordID);
                        <tr>
                            <td width="90">@data.UserId</td>
                            <td width="100">@Auction.Title</td>
                            <td width="180">@data.Text</td>
                            <td width="80">
                                <button class="deleteButton btn btn-sm btn-danger" data-id="@data.ID"><i class="fa fa-trash"></i></button>
                                <a class="btn btn-sm btn-danger" href="@Url.Action("MailSend","Dashboard",new {id = data.UserId })"><i class="fa fa-mail-reply"></i> Mail Send</a>
                            </td>

                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="5"><div class="alert-danger alert">No data found</div></td></tr>
                }

            </tbody>
        </table>

        <div class="row">
            <div class="offset-4">

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @if (Model.Pager != null)
                        {
                            if (Model.Pager.CurrentPage > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link datalink" style="cursor:pointer" data-href="@Url.Action("CommentList", "Dashboard", new { pageNo = Model.Pager.CurrentPage - 1, pageSize = Model.PageSize })" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            }
                            for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                            {
                                var activeClass = Model.Pager.CurrentPage == page ? "active bg-info" : string.Empty;
                                <li class="page-item @activeClass"><a style="cursor:pointer" class="page-link datalink" data-href="@Url.Action("CommentList", "Dashboard",new {pageNo = page, pageSize = Model.PageSize })">@page</a></li>
                            }
                            if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link datalink" style="cursor:pointer" data-href="@Url.Action("CommentList", "Dashboard", new { pageNo = Model.Pager.CurrentPage + 1, pageSize = Model.PageSize })" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            }
                        }

                    </ul>
                </nav>
            </div>
        </div>
        <script>
            $(".datalink").click(function () {
                var url = $(this).attr("data-href");
                $.ajax({
                    metod: "Get",
                    url: url,
                    data:{searchTearm:'@Model.SearchTearm', pageSize:'@Model.PageSize'}
                }).done(function (response) {
                    $("#listingArea").html(response);
                    $("#pageSize option[selected]").removeAttr("selected");
                    $("#pageSize option[value=" + @Model.PageSize + "]").attr("selected","selected");
                }).fail(function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                })

            });
            $('#pageSize').change(function () {
                var pageSize = $(this).val();
               $.ajax({
                    method: 'Get',
                    url: '@Url.Action("CommentList", "Dashboard")',
                    data: { pageSize:pageSize }
                }).done(function (response) {

                        $('#listingArea').html(response);
                        $("#pageSize option[selected]").removeAttr("selected");
                        $("#pageSize option[value=" + @Model.PageSize + "]").attr("selected", "selected");


                }).fail(function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    console(thrownError);
                })
            })

            $("#btnSearch").click(function () {
                var searchText = $("#searchText").val();
                $.ajax({
                    method: 'Get',
                    url: '@Url.Action("CommentList", "Dashboard")',
                    data: { searchTearm: searchText, pageSize:'@Model.PageSize', pageNo:'@Model.PageNo' }
                }).done(function (response) {
                    window.setTimeout(function () {
                        $('#listingArea').html(response);
                    },200)
                }).fail(function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    console.log(thrownError);
                })
            })
            $('#resetBtn').click(function () {
                var pageSize = $(this).val();
                $.ajax({
                    method: 'Get',
                    url: '@Url.Action("CommentList", "Dashboard")',
                }).done(function (response) {
                    window.setTimeout(function () {
                        $('#listingArea').html(response);
                        $("#pageSize option[selected]").removeAttr("selected");
                        $("#pageSize option[value=" + @Model.PageSize + "]").attr("selected", "selected");
                    }, 200)
                }).fail(function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    console(thrownError);
                })
            })
            $(".deleteButton").click(function () {

            var dataId = $(this).attr("data-id")
            swal({
                title: "Are you sure to Delete this  ?",
                icon: "warning",
                dangerMode: true,
                buttons: true,
            })
          .then((willDelete) => {
              if (willDelete) {
                $.ajax({
                    method: 'Get',
                    url: '@Url.Action("CommentDelete", "Dashboard")',
                    data: { id: dataId }
                }).done(function (response) {
                    if (response.Success) {
                        setTimeout(function () {
                            window.location.reload();
                        }, 100)

                        swal("Your record Delete Successfully !", {
                            icon: "success",
                        });
                    }
                    else {
                        swal("There is some error!", {
                            icon: "warning",
                        });
                    }
                  

                }).fail(function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                });
            }
          });
        })
        </script>
    </div>
</div>
<!-- Modal -->


