@model DealDouble.Web.ViewModels.UserViewModel
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="row">

    <div id="listingArea" class="col-lg-12">
        <div class="row">
            <h2 class="font-weight-bold float-left">Users</h2>
        </div>

        <div class="col-md-12 mt-2">
            <div class="row">


                <div class="col-md-2 float-right">
                    <label class="font-weight-bold"> Select Rows</label>
                    <select name="pageSize" class="form-control" id="pageSize">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>

                <div class="col-md-3 float-right">
                    <label class="font-weight-bold">Select Role</label>
                    <select name="RoleID" class="form-control" id="searchByRole">
                        <option>Select Role....</option>
                        @foreach (var role in Model.Roles)
                        {
                            <option value="@role.Id">@role.Name</option>
                        }
                    </select>
                </div>
                <div class="col-md-2 float-right ">
                    <label class="font-weight-bold">Search</label>
                    <input type="search" id="searchText" name="search" class="form-control" value="@Model.SearchTearm" />

                </div>
                <div class="col-md-2 mt-4">
                    <button class="btn btn-md btn-danger" type="button" id="searchBtn">Search</button>
                    <button class="btn btn-md btn-success" type="button" id="resetBtn">Reset</button>
                </div>
                @*<div class="col-md-3 float-right mt-4">
                    <button id="createAuction" class="btn  btn-success float-right mt-1" data-toggle="modal" data-target="#auctionCreateFrom"><i class="fas fa-plus"></i> Crate New Auction</button>
                </div>*@
            </div>


        </div>
        <table class="table  table-striped table-hover mt-3">
            <thead class="bg-info">
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.AllAuction != null && Model.AllAuction.Count() > 0)
                {
                    foreach (var data in Model.AllAuction)
                    {
                        <tr>
                            <td>@data.Title</td>
                            <td>@data.Category.Name</td>
                            <td>@data.Description</td>
                            <td>@data.ActualAmount</td>
                            <td>@data.StartingTime</td>
                            <td>@data.EndTime</td>
                            <td>
                                <button class="editButton btn btn-sm btn-primary" data-id="@data.AuctionID" data-toggle="modal" data-target="#auctionCreateFrom"> Edit </button>
                                <button class="deleteButton btn btn-sm btn-danger" data-id="@data.AuctionID"> Delete </button>
                            </td>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="text-center" colspan="7">
                            Not  results found
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="row">
            <div class="offset-4">

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @if (Model.Pager != null)
                        {
                            if (Model.Pager.CurrentPage > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link datalink" data-href="@Url.Action("Index", "Auction", new { pageNo = Model.Pager.CurrentPage - 1, pageSize = Model.PageSize })" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            }
                            for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                            {
                                var activeClass = Model.Pager.CurrentPage == page ? "active bg-info" : string.Empty;
                                <li class="page-item @activeClass"><a class="page-link datalink" data-href="@Url.Action("Index","Auction",new {pageNo = page, pageSize = Model.PageSize })">@page</a></li>
                            }
                            if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                            {
                                <li class="page-item">
                                    <a class="page-link datalink" data-href="@Url.Action("Index", "Auction", new { pageNo = Model.Pager.CurrentPage + 1, pageSize = Model.PageSize })" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            }
                        }

                    </ul>
                </nav>
            </div>
        </div>




        <div id="imageTemplate" style="display:none">
            <img class='image img-thumbnail' style="height:150px; width:150px;" />
        </div>


        <script>
            $(".datalink").click(function () {
                var url = $(this).attr("data-href");
                $.ajax({
                    metod: "Get",
                    url: url,
                    data:{categoryID:'@Model.RoleID', searchTearm:'@Model.SearchTearm', pageSize:'@Model.PageSize'}
                }).done(function (response) {
                    $("#listingArea").html(response);
                    $("#pageSize option[selected]").removeAttr("selected");
                    $("#pageSize option[value=" + @Model.PageSize + "]").attr("selected","selected");
                    $("#searchByCategory option[selected]").removeAttr("selected");
                    $("#searchByCategory option[value=" + @Model.RoleID + "]").attr("selected","selected");
                }).fail(function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                })

            });
            $("#resetBtn").click(function () {
                var searchText = $("#searchText").val();
                $.ajax({
                    metod: "Get",
                    url: "@Url.Action("Index", "Auction")",
                }).done(function (response) {
                    $("#listingArea").html(response);
                }).fail(function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                })

            });
            $("#searchBtn").click(function () {
                var searchText = $("#searchText").val();
                $.ajax({
                    metod: "Get",
                    url: "@Url.Action("Index", "Auction")",
                    data: { searchTearm: searchText, categoryID: '@Model.RoleID', pageSize:'@Model.PageSize' }
                }).done(function (response) {
                    $("#listingArea").html(response);
                    $("#searchByCategory option[selected]").removeAttr("selected");
                    $("#searchByCategory option[value=" + @Model.RoleID + "]").attr("selected", "selected");
                }).fail(function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                })

            });
            $("#pageSize").change(function () {
                var pageSize = $("#pageSize").val();
                $.ajax({
                    metod: "Get",
                    url: "@Url.Action("Index", "Auction")",
                    data: { pageSize:pageSize, categoryID: @Model.RoleID, searchTearm: '@Model.SearchTearm' }
                }).done(function (response) {
                    $("#listingArea").html(response);
                    $("#pageSize option[selected]").removeAttr("selected");
                    $("#pageSize option[value=" + pageSize + "]").attr("selected","selected");
                }).fail(function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                })

            });
            $("#searchByCategory").change(function () {
                var categoryId = $("#searchByCategory").val();
                $.ajax({
                    metod: "Get",
                    url: "@Url.Action("Index", "Auction")",
                    data: { categoryID: categoryId, searchTearm: '@Model.SearchTearm', pageSize:'@Model.PageSize' }
                }).done(function (response) {
                    $("#listingArea").html(response);
                    $("#searchByCategory option[selected]").removeAttr("selected");
                    $("#searchByCategory option[value=" + categoryId + "]").attr("selected","selected");
                }).fail(function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                })

            });
            $("#createAuction").click(function () {
                $.ajax({
                    metod: "Get",
                    url: "@Url.Action("Create", "Auction")",
                }).done(function (response) {
                    $("#contentArea").html(response);
                    $("#auctionCreateFrom").modal('toggle');
                }).fail(function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                })

            });

            $("#createAuction").click(function () {
                $.ajax({
                    metod: "Get",
                    url: "@Url.Action("Create", "Auction")",
                }).done(function (response) {
                    $("#contentArea").html(response);
                    $("#auctionCreateFrom").modal('toggle');
                }).fail(function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                })

            });

            $(".editButton").click(function () {
                var dataId = $(this).attr("data-id")
                $.ajax({
                    method: 'Get',
                    url: '@Url.Action("Edit","Auction")',
                    data: { id: dataId }
                }).done(function (response) {
                    $("#contentArea").html(response);
                    $("#auctionCreateFrom").modal('toggle');
                }).fail(function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                });
            })
            $(".deleteButton").click(function () {

                var dataId = $(this).attr("data-id")
                if (confirm("Are you sure to delete this Auction !!")) {
                    $.ajax({
                        method: 'Get',
                        url: '@Url.Action("Delete","Auction")',
                        data: { id: dataId }
                    }).done(function (response) {
                        alert("Data Delete Successfully")
                        $("#listingArea").html(response);

                    }).fail(function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                    });
                }
            });

            function AttachNewImage(imageURL, imageID) {
                var $newHtml = $("#imageTemplate").clone();
                $newHtml.find(".image").attr("src", "/Content/images/" + imageURL);
                $newHtml.find(".image").attr("data-id", imageID);
                $("#pictuerArea").append($newHtml.html());
                RemovingImage();
            }

            function ReloadListing() {
                $.ajax({
                    metod: "Get",
                    url: "@Url.Action("Index", "Auction")",
                }).done(function (response) {
                    $("#listingArea").html(response);
                }).fail(function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                })
            }
            function RemovingImage()
            {
                $("#pictuerArea .image").click(function () {

                    $(this).remove();
                })
            }
        </script>
    </div>
</div>
<!-- Modal -->
<div class="modal fade bd-example-modal-xl" id="auctionCreateFrom" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="contentArea">

        </div>
    </div>
</div>





