@model DealDouble.Web.ViewModels.AuctionsViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <!--Slider Start-->
        @if (Model.SliderImages != null && Model.SliderImages.Count > 0)
        {
            var i = 0;
            var firstSlider = Model.SliderImages.First();
            <div id="carouselExampleIndicators" class="carousel slide my-1" data-ride="carousel">
                <ol class="carousel-indicators">
                    @foreach (var data in Model.SliderImages)
                    {
                        var active = data == firstSlider ? "active" : string.Empty;
                        <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@active"></li>
                        i++;
                    }

                </ol>
                <div class="carousel-inner" role="listbox">
                    @foreach (var data in Model.SliderImages)
                    {
                        var active = data == firstSlider ? "active" : string.Empty;
                        <div class="carousel-item @active">
                            <img class="d-block img-fluid" src="/Content/images/@data.ImageName" alt="First slide">
                        </div>
                    }                  
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        }
        <!--Slider End-->

        <div class="row">
            <div class="col-lg-12">
                <div class="border p-2">
                    <div class="float-left">
                        <select id="sltCategories" class="form-control">
                            <option value="0" disabled selected>All Categories</option>
                            @foreach (var category in Model.Categories)
                            {
                                <option data-url="#" value="@category.ID">
                                    @category.Name
                                </option>
                            }
                        </select>
                    </div>
                    <div class="float-right">
                        <form class="form-inline" action="/search">
                            <input name="q" type="search" placeholder="Search Auction" class="form-control mr-sm-2" required="">
                            <div class="btn-group" role="group">
                                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
                                <a href="/search" class="btn btn-outline-secondary my-2 my-sm-0">Reset</a>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div id="productsList" class="col-lg-12">
                <div class="col-md-12">
                    @*<div class="row mb-3 ">
                        @foreach (var auction in Model.PromotedAuction)
                        {
                            var picURL = auction.AuctionPictures != null && auction.AuctionPictures.Count > 0 ? "/Content/images/" + auction.AuctionPictures.First().Picture.URL : "http://placehold.it/700x400";
                            <div class="col-md-4 mt-2 p-0">
                                <div class="card">
                                    <div class="card-header align-items-center">
                                        <a href="@Url.Action("Details","Auction",new { id= auction.AuctionID })"><img class="card-img-top img-fluid" src="@picURL" alt="" style="height:350px;"></a>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="@Url.Action("Details","Auction", new {id = auction.AuctionID })">@auction.Title</a>
                                        </h5>
                                        <p class="card-text">
                                            @auction.Description
                                        </p>
                                    </div>
                                    <ul class="list-group list-group-flush ">
                                        <li class="list-group-item">
                                            <i class="fa fa-tags mr-1"></i>
                                            <a href="#" class="card-link">
                                                @auction.Category.Name
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-7">
                                                <label class="input-group-text border-0 bg-light" title="Product Price">
                                                    <i class="fa fa-money mr-1"></i> $@auction.ActualAmount
                                                </label>
                                            </div>
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <div class="col-5">
                                                    <div class="input-group itemCartHolder">
                                                        <div class="input-group-append">
                                                            <button data-id="" type="button" class="btnAddToCart btn btn-primary btn-sm">
                                                                <i class="fa fa-usd mr-1"></i>Bid Now
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>*@
                    <div class="row mb-1 h-100">
                        @foreach (var auction in Model.AllAuction)
                        {
                            var description = auction.Description == null ? string.Empty : auction.Description.Length > 100 ? auction.Description.Substring(0, 100) : auction.Description;
                            var auctionTitle = auction.Title == null ? string.Empty : auction.Title.Length > 30 ? auction.Title.Substring(0, 30) : auction.Title;
                            var picURL = auction.AuctionPictures != null && auction.AuctionPictures.Count > 0 ? "/Content/images/" + auction.AuctionPictures.First().Picture.URL : "http://placehold.it/700x400";
                            <div class="col-md-4 mt-2 p-0">
                                <div class="card " relf-item="1">
                                    <div class="card-header align-items-center">
                                        <a href="@Url.Action("Details","Auction",new { id= auction.AuctionID })"><img class="card-img-top img-fluid" src="@picURL" alt="" style="height:350px;"></a>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="@Url.Action("Details","Auction", new {id = auction.AuctionID })">@auctionTitle ...</a>
                                        </h5>
                                        <p class="card-text text-muted">
                                            @description ...
                                        </p>
                                    </div>
                                    <ul class="list-group list-group-flush ">
                                        <li class="list-group-item font-italic">
                                            <i class="fa fa-tags mr-1"></i>
                                            <a href="@Url.Action("Details","Auction", new {id = auction.AuctionID })" class="card-link">
                                                @auction.Category.ParentCategories.ParentCategoryName
                                               
                                            </a>
                                            <i class="fa fa-angle-right mx-1"></i>
                                            <a href="/search/chairs" class="card-link">
                                                @auction.Category.Name
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-7">
                                                <label class="input-group-text border-0 bg-light font-weight-bold" title="Product Price">
                                                    <i class="fa fa-moneymr-1"></i> $@auction.ActualAmount
                                                </label>
                                            </div>
                                            <div class="col-5">
                                                <div class="input-group itemCartHolder">
                                                    <div class="input-group-append">
                                                        <button data-id="3" type="button" class="btnAddToCart btn btn-primary" title="Bid Now">
                                                            <i class="fa fa-usd mr-1"></i> Bid Now
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <nav>
                    <ul class="pagination justify-content-center">

                        <li class="page-item disabled">
                            <span class="page-link disabled">Previous</span>
                        </li>
                        <li class="page-item active">
                            <a href="/search">
                                <span class="page-link">1</span>
                            </a>
                        </li>
                        <li class="page-item ">
                            <a href="/search?pageno=2">
                                <span class="page-link">2</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a href="/search?pageno=2">
                                <span class="page-link">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.col-lg-9 -->
</div>